<h1>Order#recieved</h1>

<p>
  Dear <%= @order.name %><br>
  Thank you for your recent order from The Pragmatic Store.<br>
  You ordered the following items:<br>
</p>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th>Individual Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |line_item|%>
      <tr>
        <td><%= line_item.product.title %></td>
        <td>
          <% if line_item.product.images.exists? %>
            <%= image_tag attachments[line_item.product.images.first.name].url, size: '150x150' %>
          <% else %>
            <%= image_tag attachments['no_image_available.gif'].url, size: '150x150'  %>
          <% end %>
        </td>
        <td><%= line_item.product.price %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">Total Order Cost:</td>
      <td><%= @order.total_price %></td>
    </tr>
  </tbody>
</table>
